<div class="col-md-10 offset-1">
	<ul class="list-group">
	<% if @activities.present?%>
	<% @activities.each do |activity| %>
	<% if activity.trackable %>
	 <span class="glyphicon glyphicon-<%= activity.key.match(/\.(.*)/)[1] %>"></span>
		<li class="list-group-item">
		
		<%= activity.trackable.user.username %>
		<%= render_activity activity, display: :i18n %>
			"<%= link_to activity.trackable.citation, quote_path(activity.trackable)%>"
		 <% end %>
		 </li>
		<% end %>
		</ul>
		</div> 
<% end %>
	</ul>
</div>