
<div id="land_heading" class="jumbotron">
  <div class="quote_showcase">
    <%= image_tag "quote-stack.png" %>
  </div>

  <div class="tagline">
    <h3>The power of words meets the power of you.</h3>
        <p><b>QuothMe</b> is a platform dedicated to good quotes - from history's most
          notable figures to the people you meet every day.</p>

          <div id="heading_actions">

            <div class="btn btn-ghost"> <%= link_to  quotes_path do %>
              <i class="fa fa-binoculars"></i>
               Take a tour
              <% end %>
            </div>


            <div class="btn btn-ghost"> <%= link_to  new_user_registration_path do %>
              <i class="fa fa-id-card"></i>
               Sign Up
              <% end %>
            </div>
         </div>
  </div>
</div>


<div id="features">
  <div class="container-fluid">
    <h2>Features</h2>
    <div class="col-md-12">

      <div class="col-md-3">
        <b>Real-Time Derp</b>
        <p>Test test test test test
          test test test test
          test test test test
        </p>
      </div>

      <div class="col-md-3">
        <b>Real-Time Derp</b>
        <p>Test test test test test
          test test test test
          test test test test
        </p>
      </div>

      <div class="col-md-3">
        <b>Real-Time Derp</b>
        <p>Test test test test test
          test test test test
          test test test test
        </p>
      </div>

      <div class="col-md-3">
        <b>Real-Time Derp</b>
        <p>Test test test test test
          test test test test
          test test test test
        </p>
      </div>
    </div>
  </div>
</div>
