
<div id="land_heading" class="jumbotron">
  <div class="quote_showcase">
    <%= image_tag "quote-stack.png" %>
  </div>

  <div class="tagline">
    <h3>The power of words meets the power of you.</h3>
        <p><b>QuothMe</b> is a platform dedicated to good quotes - from history's most
          notable figures to the people you meet every day.</p>

          <div id="heading_actions">

            <div class="btn btn-ghost"> <%= link_to  quotes_path do %>
              <i class="fa fa-binoculars"></i>
               Take a tour
              <% end %>
            </div>


            <div class="btn btn-ghost"> <%= link_to  new_user_registration_path do %>
              <i class="fa fa-user-plus"></i>
               Sign Up
              <% end %>
            </div>
         </div>
  </div>
</div>


<div id="features">
  <div class="container-fluid">
    <div class="col-md-12">

      <div class="col-md-3">
        <i class="fa fa-comments"></i>
        <b>Share your quotes</b>
        <p>QuothMe gives you a place to share what you want. Quotes are easy and
          fun to make, and look great.
        </p>
      </div>

      <div class="col-md-3">
        <i class="fa fa-search"></i>
        <b>Search for quotes</b>
        <p>QuothMe features many different authors throughout history, covering a
          broad range of topics.</p>
      </div>

      <div class="col-md-3">
        <i class="fa fa-heart"></i>
        <b>Your favorite quotes </b>
        <p>Save your favorites for later, and start a collection of the sayings
          that mean the most to you.
        </p>
      </div>

        <div class="col-md-3">
          <i class="fa fa-share-alt"></i>
          <b>Share everywhere</b>
          <p>Share your quotes with the rest of the internet, to Facebook,
            Twitter, Tumblr, and Pinterest.</p>
          </p>
        </div>

            </div>
  </div>
</div>
