/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";


body {
 }



#quote {
  height: 57em;
  max-height: 100em;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  padding: 0;
  width: 100%;
  overflow: hidden;
}

.quote-image {
  width: 100%;
}

.quote-body {
  z-index: 5;
  position: relative;
  top: 15em;
  padding: 2em;
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
}

.quote-text {
  font-size: 40px;
  color: #fff;
  font-weight: 700;
  font-family: Liberation Sans;
}

.quote-author {
  text-align: right;
  margin-right: 1em;
  font-family: Liberation Sans;
}

/* Quote Index */
.img_thumb {
  width: 100%;
}

.quote_thumb {
  width: 60%;
  max-height: 230px;
  margin-bottom: 10px;
  text-align: center;
}

/* UI element changes */

.navbar-default {
    background-color: transparent;
    border-color: transparent;
    color: #fff;
}

.form_wrapper {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

/* User Dashboard Styling */
img.profile_avatar {
  border-radius: 28em;
  width: 140px;
}

.profile_header {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background: #f7f7f7;
  text-align: center;
  padding: 10px;
}

.profile_created {
  font-style: italic;
  font-size: 10px;
}

.profile_quote_thumb {
  width: 233px;
  height: 260px;
  margin-bottom: 10px;
  text-align: center;
  padding: 0;
  border: 1px solid #cacaca;
  margin: 5px;
  display: inline-block;
  vertical-align: top;
}

.quote_list {
  margin: 15px;
}
/* Quote View Styling */
.quote_avatar {
  border-radius: 28em;
  height: auto;
  width: 30px;
}

a.author_link {
  color: #fff;
  font-weight: bold;
}
