/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self


 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "social-share-button";



body {
 }


/* Landing Page */
#land_heading {
  text-align: center;
  margin: 0;
}

#features {
  border: 1px solid #a9a9a9;
  border-left: none;
  border-right: none;
  padding: 1em;
}

.quote_showcase {
  min-width: 100px;
  max-width: 330px;
  display: inline-block;
}

.quote_showcase img {
  width: 100%;
}

.tagline {
  display: inline-block;
  width: 50%;
  vertical-align: middle;
  margin: 0px 7px 0px 15px;
  text-align: left;
}

#features h2 {
  text-align: center;
}

/* Quote Index */
.img_thumb {
  width: 100%;
}

.quote_thumb {
    width: 100%;
    text-align: center;
    height: auto;
    min-height: 400px;
    padding: 40px;
    margin-left: auto;
    margin-right: auto;
}

/* UI element changes */

.navbar-default {
    background-color: transparent;
    border-color: transparent;
    color: #fff;
}

.form_wrapper {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

body {
   overflow-x: hidden;
}

/* Toggle Styles */

#wrapper {
   padding-left: 0;
   -webkit-transition: all 0.5s ease;
   -moz-transition: all 0.5s ease;
   -o-transition: all 0.5s ease;
   transition: all 0.5s ease;
}

#wrapper.toggled {
   padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    top: 0;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow: visible;
  /*  overflow-y: hidden; */
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    color: #888;
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAJ0lEQVQYV2PMzs7+f/r0aQYYYDQzM/sP5zEwMMAFTE1NGUAqMVQAAPvfDIniWS1wAAAAAElFTkSuQmCC) repeat;
  }

#sidebar-wrapper li.sidebar_avatar {
      margin-right: auto;
      text-align: center;
      margin-top: 1em;
      display: inline-block;
}

.sidebar_actions {
  margin: auto;
  width: 87%;
}

li.notify_wrapper {
  height: 3em;
  display: inline-block;
}

.sidebar-links {
      margin-top: 3em;
}

#wrapper.toggled #sidebar-wrapper {
   width: 250px;
}

#page-content-wrapper {
   width: 100%;
   position: absolute;
   padding: 0px;
}

#wrapper.toggled #page-content-wrapper {
   position: absolute;
   margin-right: -250px;
}

/* Sidebar Styles */

ul.sidebar-nav {
   position: absolute;
   top: 0;
   width: 250px;
   margin: 0;
   padding: 0;
   list-style: none;
   overflow: visible;
}

ul.dropdown-menu.dropdown-menu-left {
      width: 18em;
}

ul.dropdown-menu.dropdown-menu-left li {
      text-indent: 0;
}

.sidebar-nav li {
   text-indent: 20px;
   line-height: 40px;
}

.sidebar-nav li a {
   display: block;
   text-decoration: none;
   color: #999999;
}

.sidebar-nav li a:hover {
   text-decoration: none;
   color: #fff;
   background: rgba(255,255,255,0.2);
}

.sidebar-nav li.sidebar_avatar a:hover {
  background: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
   text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
   height: 65px;
   font-size: 18px;
   line-height: 60px;
   position: fixed;
}

.sidebar-nav > .sidebar-brand a {
   color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
   color: #fff;
   background: none;
}

@media(min-width:768px) {
   #wrapper {
       padding-left: 250px;
   }

   #wrapper.toggled {
       padding-left: 0;
   }

   #sidebar-wrapper {
       width: 250px;
   }

   #wrapper.toggled #sidebar-wrapper {
       width: 0;
   }

   #page-content-wrapper {
       padding: 0px;
       position: relative;
   }

   #wrapper.toggled #page-content-wrapper {
       position: relative;
       margin-right: 0;
   }
}

/* User Dashboard Styling */
img.profile_avatar {
  border-radius: 28em;
  width: 140px;
}
.img_thumb {
    width: 100%;
    height: 190px;
    object-fit: cover;
}

.profile_header {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background: #f7f7f7;
    text-align: center;
    padding: 0px;
}

.profile_created {
  font-style: italic;
  font-size: 10px;
}

.quote_list {
    padding: 30px;
  }

/* Quote View Styling */
.quote_avatar {
  border-radius: 28em;
  height: auto;
  width: 30px;
}

a.author_link {
  color: #fff;
  font-weight: bold;
}

.user_tag_cloud {
    border: 1px solid #d2d2d2;
    padding: 1em;
    margin: 0;
    text-align: center;
    width: 100%;
    border-radius: 2px;
    border-left: none;
    border-right: none;
}

.user_quote_body {
  display: inline-block;
  width: 30%;
  min-width: 190px;
}

.profile_subheader {
    padding: 10px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHElEQVQIW2O8du3afy0tLUYGKIAzMARgKjFUAABhBQgFOLoHDgAAAABJRU5ErkJggg== ) repeat;
}

#share_bar {
  background: rgba(0, 0, 0, 0.31);
  position: absolute;
  bottom: 0px;
  width: 100%;
}

/* Bootstrap Hack */
.btn-ghost {
  background: transparent;
  border: 2px solid;
  color: #8e8e8e;
  border-radius: 20px;
}

.btn-ghost a {
  color: #8e8e8e;
  font-weight: 800;
  text-decoration: none;
}

.btn-ghost:hover {
  background: rgb(12, 7, 7);
  color: #ffffff;
}

.btn-notify {
  color: #fff;
  background-color: #737373;
  border-color: #ccc;
  border-radius: 20px;
  font-weight: bold;
  vertical-align: middle;
}
